<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
  		<link rel="stylesheet" href="/css/login.css">
		<meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<script src="/js/formHandling.js"></script>
		<link rel="manifest" href="/manifest.json">
		<meta name="theme-color" content="#5FAAE5"/>

		<title>Login Tasor</title>
	</head>
	<body>
		<div class="container">
			<div class="login-form">
				<h1>Login Form</h1>
				<form action="auth" method="POST" name="sendForm">
					<input type="text" name="username" placeholder="Username" required>
					<input type="password" name="password" placeholder="Password" required>
					<span id="error-label" style="display:none;"></span>
					<input type="submit"> 
				</form>
				<br>
				<a href="signUp">Create account ...</a>
			</div>
		</div>
		<script src="/js/general.js"></script>
	</body>
</html>