<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>An Example PWA</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/project.css">
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#5FAAE5"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/icons/app-icon-96x96.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistics</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="signout" method="post">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
    </form>
  </div>
</nav>

<article class="card">
  
  <div id="taskListArticle">
    <div id="taskTemplate" class="card__content"  style="display: none;">
      <button type="button" class="collapsible"><strong class="taskName">Title</strong></button>
      <div class="content">
          <p class="taskDescription">Lorem ipsum...</p>
          <div class="row">
              <p><strong>Created: </strong> <br/> <span class="span-createdDate">Created datetime</span></p>
          </div>

          <hr>

          <div class="row">
              <p><strong>Updated: </strong> <br/> <span class="span-updatedDate">Update datetime</span></p>
          </div>
          <div class="row">
              <p><strong>Is working: </strong> <br/> <span class="span-attachedAccount"> N/A</span></p>
          </div>
          <div class="row">
              <p><strong>Status: </strong> <br/> <span class="span-status">This is a status. Colored text status</span></p>
          </div>
          <div class="row">
              <p><strong>Evidence of Done: </strong> <br/> <span class="span-evidence">Link to evidence of done. is hidden</span></p>
          </div>

          <hr>

          <div class="row">
              <p><strong>Task Type: </strong> <br/> <span class="span-taskType">Type of task</span></p>
          </div>
          <div class="row">
              <p><strong>Estimation: </strong> <br/> <span class="span-estimation">Estimation ints</span></p>
          </div>
          <div class="row">
              <p><strong>Work domain: </strong> <br/> <span class="span-workDomain">Work domain</span></p>
          </div>
          <div class="row">
              <p><strong>Geographical zone: </strong> <br/> <span class="span-geographicZone">Geo domain</span></p>
          </div>
          <div class="row">
              <p><strong>Client timezone: </strong> <br/> <span class="span-timeZone">Client timezone</span></p>
          </div>
          <hr>

          <div class="row">
              <p><strong>Work Item Link: </strong> <br/> <a href="" class="span-link">link to task</a> <br/> <button class="btn-copyLink" >Copy Link</button></p>
          </div>

          <hr>
          <div class="row" style="display: inline;">
              <button class="btn-taskEdit">Edit</button>
              <button class="btn-taskDelete">Delete</button> 
          </div>
      </div>
    </div>
  </div>
  <div class="card__content">
    <a href="#" onclick="div_show()">Add new Task ...</a>
  </div>
</article>
<!-- Task POP-UP -->
<div class="overlay" id="overlay" style="display:none;"></div>
  <div id="popupContact" style="display:none;">
    <a class="boxclose" id="boxclose" onclick="div_hide()"></a>
    <form action="project" id="formPop" class="formPop" method="post" name="sendForm">
      <h2>Task Form</h2>
      <hr>
      <a>Name: <i>(Required)</i></a>
      <input id="name" name="name" placeholder="Name" type="text" required oninvalid="this.setCustomValidity('* Required')"
      <a>Color (RGB Hex): </a>
      <input pattern="^#?[a-fA-F0-9]{6}$" id="color" name="color" placeholder="#1e90ff" type="color" required oninvalid="this.setCustomValidity('* Required')">
      <a>Description: <i>(Required)</i></a>
      <textarea id="description" name="description" placeholder="Description" type="text" required oninvalid="this.setCustomValidity('* Required')"></textarea>
      <a>Estimation:  <i>(Required)</i></a>
      <input pattern="^[0-9]+(\.[0-9]+)?$" id="estimation" name="estimation" placeholder="3 or 5.4" type="text" required oninvalid="this.setCustomValidity('* Required')">
      <a>Task type (dev, design, support, etc.): <i>(Required)</i></a>
      <input id="taskType" name="taskType" placeholder="(dev, design, support, etc.)" type="text" required oninvalid="this.setCustomValidity('* Required')"></input>
      <a>Geographic Zone:</a>
      <input id="geographicZone" name="geographicZone" placeholder="(West Europe, East Asia, Etc.)" type="text">
      <a>Time Zone:</a>
      <input id="timeZone" name="timeZone" placeholder="(UTC+02:00)"type="text">
      <a>Work Domain:</a>
      <input id="workDomain" name="workDomain" placeholder="(Programming, DevOps, Etc)" type="text">

      <input id="taskId" name="taskId" type="hidden" hidden>
      <input id="attachedAccountId" name="attachedAccountId" type="text" hidden>
      <input id="status" name="status" type="text" hidden>
      <input id="evidence" name="evidence" type="text" hidden>

      <span id="error-label" style="display:none;"></span>
      <a id="submitPop"><input type="submit"> </a>
    </form>
  </div>



  <script src="/js/collapsible.js"></script>
  <script src="/js/formPopupManager.js"></script>
  <script src="/js/formHandling.js"></script>
  <script src="/js/project.js"></script>
  <script src="/js/general.js"></script>
</body>
</html>