<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#5FAAE5"/>

  <title>An Example PWA</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="manifest" href="/manifest.json">
</head>
<body>
<ul class="topnav">
  <li><a href="/home">Home</a></li>
  <li><a class="active" href="/statistics">Statistics</a></li>
  <li class="right"><a href="/signout">Log Out</a></li>
</ul>

<article class="card" id="pwa">
  <div class="card__content">
    <h3>Statistics:</h3>
    <br>
    <div class="row">
      <h2>"Created by" statistics:</h2>
      <div class="row">
        <p>
          Number of Projects: <span id="create-projects">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of Tasks: <span id="create-tasks">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of Avg Tasks per Project: <span id="create-avgTasks">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of "ToDo" Tasks: <span id="create-toDoTasks">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of "InProgress" Tasks: <span id="create-inProgressTasks" style="color: blue;">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of "Done" Tasks: <span id="create-doneTasks" style="color: green;">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of "Expired" Tasks: <span id="create-expiredTasks" style="color: red;">0</span>
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <h2>"Working On" statistics:</h2>
      <div class="row">
        <p>
          Number of Tasks: <span id="working-tasks">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of "InProgress" Tasks: <span id="working-inProgressTasks" style="color: blue;">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of "Done" Tasks: <span id="working-doneTasks" style="color: green;">0</span>
        </p>
      </div>
      <div class="row">
        <p>
          Number of "Expired" Tasks: <span id="working-expiredTasks" style="color: red;">0</span>
        </p>
      </div>
    </div>
  </div>
</article>
  <script src="/js/general.js"></script>
</body>
</html>