<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#5FAAE5"/>

  <title>An Example PWA</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="manifest" href="/manifest.json">
</head>
<body>
<ul class="topnav">
  <li><a href="/home">Home</a></li>
  <li><a class="active" href="/statistics">Statistics</a></li>
  <li class="right"><a href="/signout">Log Out</a></li>
</ul>

<article class="card" id="pwa">
  <div class="card__content">
    <h3>Statistics:</h3>
    <div class="row">
        <div id="projectList" class="col-lg-12">
            <button id="btn-projectTemplate" href="#" class="btn-square btn-project" style="display: none;">
              <br/>
              <strong id="projectStrong"></strong>
            </button>
            <button href="#" class="btn-square btn-addproject" onclick="div_show()">
              <br/>
              <strong >Click to Add Project</strong>
            </button>
        </div>
	  </div>
  </div>
</article>
  <script src="/js/general.js"></script>
</body>
</html>