<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#5FAAE5"/>

  <title>An Example PWA</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/project.css">
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="manifest" href="/manifest.json">

</head>
<body>
<article class="card">
  
  <div id="taskListArticle">
    <div id="taskTemplate" class="card__content" style="display:none;">
      <button type="button" class="collapsible"><strong class="taskName">Title</strong></button>
      <div class="content">
          <p class="taskDescription">Lorem ipsum...</p>
          <div class="row">
              <p><strong>Created: </strong> <br/> <span class="span-createdDate">Created datetime</span></p>
          </div>

          <hr>

          <div class="row">
              <p><strong>Updated: </strong> <br/> <span class="span-updatedDate">Update datetime</span></p>
          </div>
          <div class="row">
              <p><strong>Is working: </strong> <br/> <span class="span-attachedAccount"> N/A</span></p>
          </div>
          <div class="row">
              <p><strong>Status: </strong> <br/> <span class="span-status">This is a status. Colored text status</span></p>
          </div>
          <div class="row">
              <p><strong>Evidence of Done: </strong> <br/> <span class="span-evidence">Link to evidence of done. is hidden</span></p>
          </div>

          <hr>

          <div class="row">
              <p><strong>Task Type: </strong> <br/> <span class="span-taskType">Type of task</span></p>
          </div>
          <div class="row">
              <p><strong>Estimation: </strong> <br/> <span class="span-estimation">Estimation ints</span></p>
          </div>
          <div class="row">
              <p><strong>Work domain: </strong> <br/> <span class="span-workDomain">Work domain</span></p>
          </div>
          <div class="row">
              <p><strong>Geographical zone: </strong> <br/> <span class="span-geographicZone">Geo domain</span></p>
          </div>
          <div class="row">
              <p><strong>Client timezone: </strong> <br/> <span class="span-timeZone">Client timezone</span></p>
          </div>

          <hr>
          <div class="row">
              <button id="btn-accept" onclick="acceptTask()">Accept</button>
              <button id="btn-abandon" onclick="abandonTask()">Abandon</button>
              <button id="btn-finish" onclick="div_show()">Finish</button>
          </div>
      </div>
    </div>
  </div>
</article>
<!-- tASK POP-UP -->
<div class="overlay" id="overlay" style="display:none;"></div>
  <div id="popupContact" style="display:none;">
    <a class="boxclose" id="boxclose" onclick="div_hide()"></a>
    <form action="project" id="taskFormPop" class="formPop" method="post" name="sendForm">
      <h2>Task Finish Form</h2>
      <hr>
      <p>Please provide evidence of finishing the task.</p>
      <a>Evidence: </a>
      <textarea id="evidence" name="evidence" placeholder="Evidence (e.g.: link ...)" type="text" required oninvalid="this.setCustomValidity('* Required')"></textarea>
      <span id="error-label" style="display:none;"></span>
      <a id="submitPop"><input type="submit"> </a>
    </form>
  </div>
  <script src="/js/collapsible.js"></script>
  <script src="/js/task.js"></script>
  <script src="/js/formPopupManager.js"></script>
  <script src="/js/formHandling.js"></script>
  <script src="/js/general.js"></script>
</body>
</html>